@charset "UTF-8";
@import url(../node_modules/bootstrap/scss/bootstrap.scss);
/*reset*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: Source Sans Pro;
  src: url(./fonts/SourceSansPro-Black.otf);
}
@font-face {
  font-family: Reboto mono;
  src: url(./fonts/RobotoMono-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: Oswald;
  src: url(./fonts/Oswald-VariableFont_wght.ttf);
}
@font-face {
  font-family: Open sans;
  src: url(./fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: Promt;
  src: url(./fonts/Prompt-Black.ttf);
}

/* cambio de fuente del texto joji puesto en el nav */
.title-nav h3 {
  font-family: "Reboto mono";
  font-size: 25px;
}

/* hover en el nav */
.title-nav .hover-nav ul li a:hover {
  color: red;
}

/* poner margin top en la primera caja del home */
.home-1 {
  margin-top: 140px;
}
.home-1 h1 {
  color: #444444;
  font-family: "Source Sans Pro";
}
.home-1 p {
  color: #7a7a7a;
  font-size: 17px;
  font-family: "Source Sans Pro";
}
.home-1 .shop-container, .home-1 .discography-container {
  color: #ffffff;
  background: #444444;
  width: 148px;
  height: 42px;
  border-width: 2px;
  border-style: solid #444444;
  border-radius: 24px 24px 24px 24px;
  font-family: "Source Sans Pro";
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  padding: 4px;
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
}
.home-1 .discography-container {
  color: #232323;
  background: white;
  border-style: solid;
}

/* dandole margin top y bottom a las cards del home + un tamaño a las imagenes de las mismas cards*/
.cards-home {
  margin-top: 289px;
  margin-bottom: 65px;
}
.cards-home img {
  width: 130px;
  height: 110px;
}

/* footer */
.footer a {
  text-decoration: none;
}

/* principio tienda */
/* lineas divisoras tienda */
.divisor-line-shop,
.divisor-line-shop-3 {
  background-color: #fff;
  margin-top: 5%;
}

/* titulo tienda */
.shop-title {
  font-family: "Promt";
  font-size: 5vw;
  margin-bottom: 5%;
  margin-right: 2%;
}

/* cards del principio de la tienda */
.cards {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.cards .img-cards-shop-1 {
  width: 95px;
  height: 95px;
}

.cards .card {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

/* boton comprar para las cards del principio de la tienda */
.button-buy {
  margin-top: 5%;
  --color: rgba(88, 101, 242, 1);
  padding: 1vw 2vw;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 1.5vw;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.button-buy::before,
.button::after {
  content: "";
  display: block;
  width: 4vw;
  height: 4vw;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button-buy::before {
  top: -1em;
  left: -1em;
}

.button-buy::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button-buy:hover::before,
.button:hover::after {
  height: 41vw;
  width: 41vw;
}

.button-buy:hover {
  color: #fff;
}

.button-buy:active {
  filter: brightness(0.8);
}

/* discos de vinilo tienda */
.vinyl-title {
  font-size: 5vw;
  margin-bottom: 5%;
  margin-right: 2%;
  margin-top: 60px;
}

.cards-vinyls .vinyl-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.cards-vinyls .vinyl-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.cards-vinyls .vinyl-card .card-title {
  font-size: 1.5rem;
  color: #fff;
}

.cards-vinyls .vinyl-card .btn-secondary {
  background-color: rgb(88, 101, 242);
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.cards-vinyls .vinyl-card .btn-secondary:hover {
  background-color: #555;
  color: #fff;
}

.cards-vinyls .ballads-card img {
  max-height: 325px;
}

/* parte final de la tienda */
.card-clothes img {
  width: 50%;
  height: auto;
}

.card-clothes {
  text-align: center;
  margin-bottom: 20px;
}

.card-clothes img {
  width: 100%;
  height: auto;
}

.card-clothes .card-title {
  font-size: 1.2rem;
}

.card-clothes .btn-secondary {
  font-size: 1rem;
  padding: 8px 16px;
}

/* login */
.login-card {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  max-width: 400px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  text-align: center;
  margin-bottom: 20px;
}

.card-header h1 {
  font-size: 2em;
  color: #333;
  text-shadow: 1px 1px #ddd;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-size: 1.2em;
  color: #555;
  margin-bottom: 10px;
}

input[type=text],
input[type=email],
input[type=password] {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f0f0f0;
  font-size: 1.2em;
  color: #555;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3);
  outline: none;
}

input[type=submit] {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px;
  transition: background-color 0.3s ease;
}

input[type=submit]:hover {
  background-color: #0069d9;
}

.login-button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px;
  width: 100%;
  transition: background-color 0.3s ease;
  transition: 0.25s;
}

.login-button:hover {
  background-color: rgba(0, 105, 217, 0.9058823529);
  -webkit-box-shadow: 0px 0px 30px 0px rgb(0, 105, 217);
  -moz-box-shadow: 0px 0px 30px 0px rgb(0, 105, 217);
  box-shadow: 0px 0px 30px 0px rgb(0, 105, 217);
}

/* centrar el login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.login-card {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  max-width: 400px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

/*# sourceMappingURL=styles.css.map */
