/* principio */
@import './_variables.scss';
@import './mixin';
.biography-container {
    & video {
      width: 30rem;
      margin-left: 57%;
      max-width: 100%;
      height: auto;
    }
    & p{
      font-size: 1.5rem;
    }
    & h1,p{
      font-family: map-get($fonts, sans);
      color: map-get($paleta, gris);
    }
  }
  /* mitad */
  .middle-biography-1 {
    & div {
      @include display-justify();
      @include color-font(map-get($paleta, gris),map-get($fonts, sans), 1.3rem);
      margin-top: 22%;
    }
  }
  .before-the-music{
    margin-top: 8rem;
    @include display-justify();
    font-family: map-get($fonts, sans);
    & h2{
      color: map-get($paleta, gris);
    }
    & p{
      color: map-get($paleta, gris-claro);
    }
  }
  /* final biografia */
  .claim-to-fame {
    margin-top: 12rem;
    @include display-justify();
    @include color-font(map-get($paleta, gris-claro),map-get($fonts, inter), none);
    & h3{
      text-align: center;
    }
  }
  .claim-to-fame-2 {
    margin-top: 2rem;
    & img{
      width: 20rem;
      height: 20rem;
    }
    & h2,p {
      @include color-font(map-get($paleta, gris-claro),map-get($fonts, sans), none);
    }
  }
