@import './_variables.scss';
.discography-title{
    display: flex;
    justify-content: center;
    & h1{
      font-size: 3rem;
    }
  }
  /* cards discografia */
  .discography-cards{
    margin-top: 5rem;
    .albums{
      width: 24rem;
    }
  }