.home-1 {
    & h1,p{
      margin-left: 10%;
    }
    & h1{
        color:#444444;
        font-family: "Source Sans Pro";
        font-size: 3rem;
    }
    & p {
        color:#7a7a7a;
        font-size: 90%;
        font-family: "Source Sans Pro";
    }
    .shop-discography {
      display: flex; 
      justify-content: flex-start;
      margin-left: 9%;
    }
    .shop-container {
      color: #ffffff;
      background: #444444;
      width: 148px;
      height: 42px;
      border-width: 2px;
      border-style: solid #444444;
      border-radius: 24px 24px 24px 24px;
      font-family: "Source Sans Pro";
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      padding: 4px;
      box-sizing: border-box;
      display: inline-block;
      text-decoration: none;
    }
    .discography-container {
      @extend .shop-container;
      color: #232323;
      background: white;
      border-style: solid;
    }
}
/* cards home */
.cards-home {
  margin-top: 31%;
}