@import './_variables.scss';
@import './mixin';
.home-1 {
    & h1,p{
      margin-left: 10%;
    }
    & h1{
        @include color-font(map-get($paleta, negro),map-get($fonts, sans), 3rem);
        font-size: 3rem;
    }
    & p {
        font-size: 90%;
        @include color-font(#7a7a7a,map-get($fonts, sans), 90%);
    }
    .shop-discography {
      display: flex; 
      justify-content: flex-start;
      margin-left: 9%;
    }
    .shop-container {
      @include color-font(#ffffff,map-get($fonts, sans), 16px);
      background: map-get($paleta, negro);
      border-style: solid  map-get($paleta, negro);
      width: 148px;
      height: 42px;
      border-width: 2px;
      border-radius: 24px 24px 24px 24px;
      text-align: center;
      font-weight: 600;
      padding: 4px;
      box-sizing: border-box;
      display: inline-block;
      text-decoration: none;
    }
    .discography-container {
      @extend .shop-container;
      color:  map-get($paleta, negro);
      background: white;
      border-style: solid;
    }
}
/* cards home */
.cards-home {
  margin-top: 31%;
}