/* vista mobile */
@import './_variables.scss';
/* vista mobile */
@media screen and (min-width: 120px) and (max-width: 480px) {
    /* biografia */
    .biography-container{
      & video{
        margin-left: 0rem;
      }
    }
    .discography-cards{
      @include display-justify();
      flex-wrap: wrap;
      .albums{
        margin: 0 auto;
        width: 20.6rem;
      }
    }
  }
  /* vista tablet */
  @media screen and (min-width: 481px) and (max-width: 992px){
    /* biografia */
    .biography-container{
      & video{
        margin-left: 6.5rem;
      }
    }
    .claim-to-fame-2 {
      margin-top: 2rem;
      & img{
        width: 20rem;
        height: 20rem;
      }
      & h2,p {
        color:  map-get($paleta, gris-claro);
        font-family: map-get($fonts, sans);
      }
    }
    /* discografia */
    .discography-cards{
      @include display-justify();
      flex-wrap: wrap;
      .albums{
        margin: 0 auto;
      }
    }
     /* footer */
    .footer{
      text-align: center;
    }
    /* albums home */
    .cards-home{
      @include display-justify();
      & div{
        width: 28rem;
      }
    }
  }
  /* vista laptop */
  @media screen and (min-width: 993px) and (max-width: 1400px) {
    /* biografia */
    .biography-container{
      & video{
        margin-left: 28%;
      }
    }
    .middle-discography-1 {
      & div {
        margin-top: 14%;
      }
    }
    /* discografia */
    .cards-albums{
      display: flex;
    }
  }
